[Desktop Entry]
Type=Application
Name=partnerp
Comment=Iskra Delta Partner P with its system hard disk
Exec=/usr/bin/partnerp
Icon=iskra-delta-partner
Terminal=false
Categories=System;Emulator;
