[Desktop Entry]
Type=Application
Name=partnerg
Comment=Iskra Delta Partner GDP with its system hard disk
Exec=/usr/bin/partnerg
Icon=iskra-delta-partner
Terminal=false
Categories=System;Emulator;
